{{ define "data" }}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" href="../styles/main.css">-->

  <title>Fitness Club Admin Page</title>
</head>

<body>
  <h1>Управление клиентами</h1>

  <h2>Добавление клиента</h2>
  <form action="http://localhost:8080/client/post" method="post">

    <label for="client_second_name">Фамилия</label>
    <input type="text"
           name="client_second_name"
           id="client_second_name"
           class="add_client"
           maxlength="50">

    <br>

    <label for="client_name">Имя</label>
    <input type="text"
           name="client_name"
           id="client_name"
           class="add_client"
           maxlength="50">

    <br>

    <label for="client_third_name">Отчество</label>
    <input type="text"
           name="client_third_name"
           id="client_third_name"
           class="add_client"
           maxlength="50">

    <br>

    <label>Пол</label>
    <input type="radio"
           id="male-sex-choice"
           name="sex"
           value="male">
    <label for="male-sex-choice">мужской</label>

    <input type="radio"
           id="female-sex-choice"
           name="sex"
           value="female">
    <label for="female-sex-choice">женский</label>

    <input type="radio"
           id="other-sex-choice"
           name="sex"
           value="other">
    <label for="other-sex-choice">другое</label>

    <br>

    <label for="birthdate">Дата рождения</label>
    <input type="date"
           name="birthdate"
           id="birthdate"
           class="add_client">

    <br>

    <label for="height">Рост</label>
    <input type="number"
           name="height"
           id="height"
           class="add_client">

    <br>

    <label for="weight">Вес</label>
    <input type="number"
           name="weight"
           id="weight"
           class="add_client">

    <br>

    <label for="subscription_begin">Начало подписки</label>
    <input type="date"
           name="subscription_begin"
           id="subscription_begin"
           class="add_client">

    <br>

    <label for="subscription_end">Окончание подписки</label>
    <input type="date"
           name="subscription_end"
           id="subscription_end"
           class="add_client">

    <br>

    <input type="submit"
           value="Добавить клиента"
           id="client_submit"
           class="add_client">

  </form>

  <h2>Список клиентов</h2>
  <table class="table">
    <th>ID</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Пол</th>
    <th>Дата рождения</th>
    <th>Рост</th>
    <th>Вес</th>
    <th>Начало абонемента</th>
    <th>Окончание абонемента</th>

    {{ range .Clients }}
    <tr>
      <td>{{ .SubscriptionID }}</td>
      <td>{{ .ClientSecondName }}</td>
      <td>{{ .ClientName }}</td>
      <td>{{ .ClientThirdName }}</td>
      <td>{{ .Sex }}</td>
      <td>{{ .Birthdate }}</td>
      <td>{{ .Height }}</td>
      <td>{{ .Weight }}</td>
      <td>{{ .SubscriptionBegin }}</td>
      <td>{{ .SubscriptionEnd }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Список клиентов c истёкшим абонементом</h2>
  <table class="table">
    <th>id</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Пол</th>
    <th>Дата рождения</th>
    <th>Рост</th>
    <th>Вес</th>
    <th>Начало абонемента</th>
    <th>Окончание абонемента</th>

    <h2>Продлить абонемент</h2>
    <form action="http://localhost:8080/client/update" method="post">
      <label for="client_id_update">ID клиента:</label>
      <input type="number"
             name="client_id_update"
             id="client_id_update">
      <br>
      <label for="subscription_end_update">Новая дата абонемента:</label>
      <input type="date"
             name="subscription_end_update"
             id="subscription_end_update">
      <br>
      <input type="submit"
             value="Продлить"
             id="client_id_update_submit">
    </form>

    {{ range .UnsubscribedClients }}
    <tr>
      <td>{{ .SubscriptionID }}</td>
      <td>{{ .ClientSecondName }}</td>
      <td>{{ .ClientName }}</td>
      <td>{{ .ClientThirdName }}</td>
      <td>{{ .Sex }}</td>
      <td>{{ .Birthdate }}</td>
      <td>{{ .Height }}</td>
      <td>{{ .Weight }}</td>
      <td>{{ .SubscriptionBegin }}</td>
      <td>{{ .SubscriptionEnd }}</td>
    </tr>
    {{ end }}
  </table>

</body>
</html>
{{ end }}
