{{ define "data" }}

<!DOCTYPE html>
<html lang="ru">

<head>
       <meta charset="UTF-8">
       <link rel="stylesheet" href="../styles/main.css">
       <title>Fitness Club Admin Page</title>
</head>

<body>
       <h1>Управление клиентами</h1>
       <div class="forma">
              <h2>Добавление клиента</h2>
              <form action="http://localhost:8080/client/insert" method="post">

                     <label>Фамилия</label>
                     <input type="text" name="insert_second_name" maxlength="50">

                     <br>

                     <label>Имя</label>
                     <input type="text" name="insert_name" maxlength="50">

                     <br>

                     <label>Отчество</label>
                     <input type="text" name="insert_third_name" maxlength="50">

                     <br>

                     <label>Пол</label>
                     <input type="radio" name="insert_sex" value="мужской">
                     <label>мужской</label>

                     <input type="radio" name="insert_sex" value="женский">
                     <label>женский</label>

                     <input type="radio" name="insert_sex" value="другой">
                     <label>другой</label>

                     <br>

                     <label>Дата рождения</label>
                     <input type="date" name="insert_birthdate">

                     <br>

                     <label>Рост</label>
                     <input type="text" name="insert_height">

                     <br>

                     <label>Вес</label>
                     <input type="text" name="insert_weight">

                     <br>

                     <label>Начало подписки</label>
                     <input type="date" name="insert_subscription_begin">

                     <br>

                     <label>Окончание подписки</label>
                     <input type="date" name="insert_subscription_end">

                     <br>

                     <input type="submit" value="Добавить">

              </form>
              <h2>Продлить абонемент</h2>
              <form action="http://localhost:8080/client/update/subscription" method="post">

                     <label>ID клиента:</label>
                     <input type="number" name="update_subscription_id">

                     <br>

                     <label>Новая дата абонемента:</label>
                     <input type="date" name="update_subscription_subscription_end">

                     <br>

                     <input type="submit" value="Подтвердить">

              </form>

              <h2>Изменить рост/вес</h2>
              <form action="http://localhost:8080/client/update/height&weight" method="post">

                     <label>ID клиента</label>
                     <input type="number" name="update_height&weight_id">

                     <br>

                     <label>Новый рост</label>
                     <input type="text" name="update_height&weight_height">

                     <br>

                     <label>Новый вес</label>
                     <input type="text" name="update_height&weight_weight">

                     <br>

                     <input type="submit" value="Подтвердить">

              </form>

              <h2>Удалить клиента</h2>
              <form action="http://localhost:8080/client/delete" method="post">

                     <label>ID клиента:</label>
                     <input type="number" name="delete_id">

                     <br>

                     <input type="submit" value="Удалить">

              </form>
       </div>
       <div class="table_class">
              <h2>Список клиентов</h2>
              <table>
                     <th>ID</th>
                     <th>Фамилия</th>
                     <th>Имя</th>
                     <th>Отчество</th>
                     <th>Пол</th>
                     <th>Дата рождения</th>
                     <th>Рост</th>
                     <th>Вес</th>
                     <th>Начало абонемента</th>
                     <th>Окончание абонемента</th>

                     {{ range .Clients }}
                     <tr>
                            <td>{{ .SubscriptionID }}</td>
                            <td>{{ .ClientSecondName }}</td>
                            <td>{{ .ClientName }}</td>
                            <td>{{ .ClientThirdName }}</td>
                            <td>{{ .Sex }}</td>
                            <td>{{ .Birthdate }}</td>
                            <td>{{ .Height }}</td>
                            <td>{{ .Weight }}</td>
                            <td>{{ .SubscriptionBegin }}</td>
                            <td>{{ .SubscriptionEnd }}</td>
                     </tr>
                     {{ end }}
              </table>


              <h2>Список клиентов c истёкшим абонементом</h2>
              <table>
                     <th>id</th>
                     <th>Фамилия</th>
                     <th>Имя</th>
                     <th>Отчество</th>
                     <th>Пол</th>
                     <th>Дата рождения</th>
                     <th>Рост</th>
                     <th>Вес</th>
                     <th>Начало абонемента</th>
                     <th>Окончание абонемента</th>

                     {{ range .UnsubscribedClients }}
                     <tr>
                            <td>{{ .SubscriptionID }}</td>
                            <td>{{ .ClientSecondName }}</td>
                            <td>{{ .ClientName }}</td>
                            <td>{{ .ClientThirdName }}</td>
                            <td>{{ .Sex }}</td>
                            <td>{{ .Birthdate }}</td>
                            <td>{{ .Height }}</td>
                            <td>{{ .Weight }}</td>
                            <td>{{ .SubscriptionBegin }}</td>
                            <td>{{ .SubscriptionEnd }}</td>
                     </tr>
                     {{ end }}
              </table>
       </div>

</body>

</html>
{{ end }}