<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Club Admin Page</title>
</head>

<body>
  <h1>Управление расписанием</h1>

  <h2>Добавление расписания</h2>
  <!-- В формах надо добавить эндпоинт. Мне не дали тз, какой. Матвей, я тобой не доволен №1. -->
  <form action="http://localhost:8080/..." method="post">

    <label>Группа</label>
    <select name="insert_group_id">
      <!-- <option value="1" selected>Танцы</option> -->
      <!-- В шаблонах надо добавить переменные, задаваемые в бэки. Мне не дали тз, какие. Матвей, я тобой не доволен №2. -->
    </select>

    <br>

    <label>День недели</label>
    <select name="insert_day">
      <option value="1" selected>Понедельник</option>
      <option value="2" selected>Вторник</option>
      <option value="3" selected>Среда</option>
      <option value="4" selected>Четверг</option>
      <option value="5" selected>Пятница</option>
      <option value="6" selected>Суббота</option>
      <option value="7" selected>Воскресенье</option>
    </select>

    <br>

    <label>Время начала</label>
    <select name="insert_time">
      <option value="1" selected>13:00</option>
      <option value="2" selected>14:45</option>
      <option value="3" selected>16:30</option>
      <option value="4" selected>18:15</option>
    </select>

    <br>

    <input type="submit" value="Добавить">

  </form>
  <br>
  <h2>Список расписаний</h2>
  <table>
    <th>ID группы</th>
    <th>День</th>
    <th>Время</th>
    {{ range .Groups }}
    <!-- В шаблонах надо добавить переменные, задаваемые в бэки. Мне не дали тз, какие. Матвей, я тобой не доволен №3. -->
    <tr>
      <td>{{ .GroupID }}</td>
      <td>{{ .TimeID }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Расписание группы</h2>
  <!-- В формах надо добавить эндпоинт. Мне не дали тз, какой. Матвей, я тобой не доволен №4. -->
  <form action="http://localhost:8080/..." method="post">

    <label>Вывести группу</label>
    <input type="number" name="select_group_id" placeholder="ID группы">

    <br>

    <input type="submit" value="Подтвердить">

  </form>

  <table>
    <th>ID</th>
    <th>День недели</th>
    <th>Время</th>
    <!-- В шаблонах надо добавить переменные, задаваемые в бэки. Мне не дали тз, какие. Матвей, я тобой не доволен №5. -->
    {{ range .Group }}
    <tr>
      <td>{{ .SubscriptionID }}</td>
      <td>{{ .ClientSecondName }}</td>
      <td>{{ .ClientName }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Расписание Программы</h2>
  <!-- В формах надо добавить эндпоинт. Мне не дали тз, какой. Матвей, я тобой не доволен №6. -->
  <form action="http://localhost:8080/..." method="post">

    <label>Вывести группу</label>
    <input type="number" name="select_program_id" placeholder="ID программы">

    <br>

    <input type="submit" value="Подтвердить">

  </form>

  <table>
    <th>ID</th>
    <th>День недели</th>
    <th>Время</th>
    <!-- В шаблонах надо добавить переменные, задаваемые в бэки. Мне не дали тз, какие. Матвей, я тобой не доволен №7. -->
    {{ range .Group }}
    <tr>
      <td>{{ .SubscriptionID }}</td>
      <td>{{ .ClientSecondName }}</td>
      <td>{{ .ClientName }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Расписание Тренера</h2>
  <!-- В формах надо добавить эндпоинт. Мне не дали тз, какой. Матвей, я тобой не доволен №8. -->
  <form action="http://localhost:8080/..." method="post">

    <label>Вывести группу</label>
    <input type="number" name="select_trainer_id" placeholder="ID тренера">

    <br>

    <input type="submit" value="Подтвердить">

  </form>

  <table>
    <th>ID</th>
    <th>День недели</th>
    <th>Время</th>
    <!-- В шаблонах надо добавить переменные, задаваемые в бэки. Мне не дали тз, какие. Матвей, я тобой не доволен №9. -->
    {{ range .Group }}
    <tr>
      <td>{{ .SubscriptionID }}</td>
      <td>{{ .ClientSecondName }}</td>
      <td>{{ .ClientName }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Удалить Расписание</h2>
  <!-- В формах надо добавить эндпоинт. Мне не дали тз, какой. Матвей, я тобой не доволен №10. -->
  <form action="http://localhost:8080/..." method="delete">

    <label>Группа</label>
    <select name="insert_group_id">
      <!-- <option value="1" selected>Танцы</option> -->
      <!-- В шаблонах надо добавить переменные, задаваемые в бэки. Мне не дали тз, какие. Матвей, я тобой не доволен №11. -->
    </select>

    <br>

    <label>День недели</label>
    <select name="insert_day">
      <option value="1" selected>Понедельник</option>
      <option value="2" selected>Вторник</option>
      <option value="3" selected>Среда</option>
      <option value="4" selected>Четверг</option>
      <option value="5" selected>Пятница</option>
      <option value="6" selected>Суббота</option>
      <option value="7" selected>Воскресенье</option>
    </select>

    <br>

    <label>Время начала</label>
    <select name="insert_time">
      <option value="1" selected>13:00</option>
      <option value="2" selected>14:45</option>
      <option value="3" selected>16:30</option>
      <option value="4" selected>18:15</option>
    </select>

    <br>

    <input type="submit" value="Удалить">

  </form>
</body>

</html>