{{ define "data" }}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Fitness Club Admin Page</title>
</head>

<body>
  <h1>Управление расписанием</h1>

  <div class="forma">
    <h2>Добавление расписания</h2>
    <form action="http://localhost:8080/timetable/insert" method="post">

      <label>Группа</label>
      <input type="number" name="insert_group_id">

      <br>

      <label>День недели</label>
      <select name="insert_weekday">
        <option value="1" selected>Понедельник</option>
        <option value="2" selected>Вторник</option>
        <option value="3" selected>Среда</option>
        <option value="4" selected>Четверг</option>
        <option value="5" selected>Пятница</option>
        <option value="6" selected>Суббота</option>
        <option value="7" selected>Воскресенье</option>
      </select>

      <br>

      <label>Время начала</label>
      <select name="insert_training_time">
        <option value="13:00:00" selected>13:00</option>
        <option value="14:45:00" selected>14:45</option>
        <option value="16:30:00" selected>16:30</option>
        <option value="18:15:00" selected>18:15</option>
        <option value="20:00:00" selected>20:00</option>
      </select>

      <br>

      <input type="submit" value="Добавить">

    </form>
    <h2>Расписание группы</h2>
    <form action="http://localhost:8080/timetable/select/by_group" method="post">

      <label>Вывести группу</label>
      <input type="number" name="select_group_id" placeholder="ID группы">

      <br>

      <input type="submit" value="Подтвердить">

    </form>
    <h2>Расписание Программы</h2>
    <form action="http://localhost:8080/timetable/select/by_program" method="post">

      <label>Вывести группу</label>
      <input type="number" name="select_program_id" placeholder="ID группы">

      <br>

      <input type="submit" value="Подтвердить">

    </form>
    <h2>Расписание Тренера</h2>
    <form action="http://localhost:8080/timetable/select/by_trainer" method="post">

      <label>Вывести группу</label>
      <input type="number" name="select_trainer_id" placeholder="ID тренера">

      <br>

      <input type="submit" value="Подтвердить">

    </form>
    <h2>Удалить Расписание</h2>
    <form action="http://localhost:8080/timetable/delete" method="post">

      <label>Группа</label>
      <input type="number" name="insert_group_id">

      <br>

      <label>День недели</label>
      <select name="insert_weekday">
        <option value="Понедельник" selected>Понедельник</option>
        <option value="Вторник" selected>Вторник</option>
        <option value="Среда" selected>Среда</option>
        <option value="Четверг" selected>Четверг</option>
        <option value="Пятница" selected>Пятница</option>
        <option value="Суббота" selected>Суббота</option>
        <option value="Воскресенье" selected>Воскресенье</option>
      </select>

      <br>

      <label>Время начала</label>
      <select name="insert_training_time">
        <option value="13:00:00" selected>13:00</option>
        <option value="14:45:00" selected>14:45</option>
        <option value="16:30:00" selected>16:30</option>
        <option value="18:15:00" selected>18:15</option>
        <option value="20:00:00" selected>20:00</option>
      </select>

      <br>

      <input type="submit" value="Подтвердить">

    </form>
  </div>



  <div class="table_class">
    <h2>Расписание группы</h2>
    <table>
      <th>ID</th>
      <th>День недели</th>
      <th>Время</th>

      {{ range .ByGroup }}
      <tr>
        <td>{{ .GroupID }}</td>
        <td>{{ .Weekday }}</td>
        <td>{{ .TrainingTime }}</td>
      </tr>
      {{ end }}
    </table>



    <h2>Расписание Программы</h2>
    <table>
      <th>ID</th>
      <th>День недели</th>
      <th>Время</th>

      {{ range .ByProgram }}
      <tr>
        <td>{{ .GroupID }}</td>
        <td>{{ .Weekday }}</td>
        <td>{{ .TrainingTime }}</td>
      </tr>
      {{ end }}
    </table>


    <h2>Расписание Тренера</h2>
    <table>
      <th>ID</th>
      <th>День недели</th>
      <th>Время</th>

      {{ range .ByTrainer }}
      <tr>
        <td>{{ .GroupID }}</td>
        <td>{{ .Weekday }}</td>
        <td>{{ .TrainingTime }}</td>
      </tr>
      {{ end }}
    </table>
  </div>


</body>

</html>
{{ end }}