{{ define "trainers" }}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <!--  <link rel="stylesheet" href="/public/styles/main.css">-->
  <title>Fitness Club Admin Page</title>
</head>

<body>
  <h1>Управление тренерами</h1>

  <h2>Добавление тренера</h2>
  <form action="http://localhost:8080/trainer/insert" method="post">

    <label for="trainer_second_name">Фамилия</label>
    <input type="text" name="trainer_second_name" id="trainer_second_name" maxlength="50">

    <br>

    <label for="trainer_name">Имя</label>
    <input type="text" name="trainer_name" id="trainer_name" maxlength="50">

    <br>

    <label for="trainer_third_name">Отчество</label>
    <input type="text" name="trainer_third_name" id="trainer_third_name" maxlength="50">

    <br>

    <label for="trainer_phone">Телефон</label>
    <input type="text" name="trainer_phone" id="trainer_phone" maxlength="20">

    <br>

    <input type="submit" value="Добавить тренера" id="trainer_submit">

  </form>

  <h2>Список тренеров</h2>
  <table class="table">
    <th>ID</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Телефон</th>

    {{ range . }}
    <tr>
      <td>{{ .TrainerID }}</td>
      <td>{{ .TrainerSecondName }}</td>
      <td>{{ .TrainerName }}</td>
      <td>{{ .TrainerThirdName }}</td>
      <td>{{ .TrainerPhone }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Удалить тренера</h2>
  <form action="" method="delete">
    <label for="trainer_id_delete">ID клиента:</label>
    <input type="number" name="trainer_id_delete" id="trainer_id_delete">
    <input type="submit" value="Удалить" id="trainer_id_delete_submit">
  </form>

</body>

</html>
{{end}}