{{ define "trainers" }}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <!--  <link rel="stylesheet" href="/public/styles/main.css">-->
  <title>Fitness Club Admin Page</title>
</head>

<body>
  <h1>Управление тренерами</h1>

  <h2>Добавление тренера</h2>
  <form action="http://localhost:8080/trainer/insert" method="post">

    <label>Фамилия</label>
    <input type="text"
           name="insert_second_name"
           maxlength="50">

    <br>

    <label>Имя</label>
    <input type="text"
           name="insert_name"
           maxlength="50">

    <br>

    <label>Отчество</label>
    <input type="text"
           name="insert_third_name"
           maxlength="50">

    <br>

    <label>Телефон</label>
    <input type="text"
           name="insert_phone"
           maxlength="20">

    <br>

    <input type="submit"
           value="Добавить">

  </form>

  <h2>Список тренеров</h2>
  <table class="table">
    <th>ID</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Телефон</th>

    {{ range . }}
    <tr>
      <td>{{ .TrainerID }}</td>
      <td>{{ .TrainerSecondName }}</td>
      <td>{{ .TrainerName }}</td>
      <td>{{ .TrainerThirdName }}</td>
      <td>{{ .TrainerPhone }}</td>
    </tr>
    {{ end }}
  </table>

  <h2>Удалить тренера</h2>
  <form action="http://localhost:8080/trainer/delete" method="post">

    <label>ID тренера:</label>
    <input type="number"
           name="delete_id">

    <br>

    <input type="submit"
           value="Удалить">

  </form>

</body>

</html>
{{end}}
